/*
 * Variables
 * =========
 */
 
body
	margin 0
	font-family "Proxima-Nova"
	z-index -2
	color #3c4f5c
	.overlay
		display none
		position fixed
		left 0
		right 0
		bottom 0
		top 0
		width auto
		height auto
		z-index 1
		background-color rgba(255, 255, 255, 0.7)
		
	&.show-overlay .overlay
		display block
		background-color rgba(255, 255, 255, 0.7)
	
$gray  = #4F4F4F
$light-gray = #E2E6E6
$border    = #E5E5E5
$green     = #59C77F 
$orange    = #EC831B
$white = #fff
$black = #000
$purple = #9f7fb6

/*
 * Helper Classes
 * ==============
 */
.tr-up
	text-transform uppercase
span.info
	border 1px solid
	border-radius 50%
	color #A6A6A6
	cursor pointer
	display inline-block
	font-size 10px
	font-weight 200
	height 18px
	line-height 18px
	margin-left 5px
	text-align center
	width 18px

/*
 * Button Classes
 * ==============
 */
.btn
	border-radius 2px
	cursor pointer
	display inline-block
	font-size 12px
	font-weight 600
	letter-spacing 0.075em
	line-height 32px
	padding 0 20px
	@extend .tr-up
	&.success
		background-color green
		color #FFF
	&.outline
		border 1px solid #A9B1BE
		color #A9B1BE
.btn-green
	border-radius 2px
	cursor pointer
	display inline-block
	font-size 12px
	font-weight 600
	letter-spacing 0.075em
	line-height 32px
	padding 0 20px
	background-color $green
	color #fff
	@extend .tr-up
	&.success
		background-color green
		color #FFF
	&.outline
		border 1px solid #A9B1BE
		color #A9B1BE   
/*
 * Grid
 * ====
 */
$xs = 576px
$sm = 768px
$md = 992px
$lg = 1200px

.container
	margin-right auto
	margin-left auto
	padding-left 36px
	padding-right 36px

.grid-container 
	width 100%
	max-width 1200px
	margin 0 auto

.grid-container * 
	box-sizing: border-box

.clearfix
	clearfix()

.row
	list-style none
	margin 0 -15px
	clearfix()
	
.col
	float left
	position relative
	padding 0 15px 15px
	img
		max-width 100%
		height auto
	
grid(class = 'xs', columns = 12)
	for colCount in (1 .. columns)
		percentWidth = (1% * ((colCount / columns) * 100))
		.col-{class}-{colCount}
			width percentWidth
			
aspect-ratio($width, $height)
  position: relative
  &:before
    display: block
    content: ""
    width: 100%
    padding-top: ($height / $width * 100%)
  > .content
    position: absolute
    top: 0
    left: 0
    right: 0
    bottom: 0

/* Base Grid */
grid()

/* Extra Small Size */
@media (min-width: $xs)
	grid('sm')

/* Medium Size */
@media (min-width: $sm)
	grid('md')

/* Large Size */
@media (min-width: $md)
	grid('lg')

/*
 * Helpers
 * =======
 */
.show-sm
	display none
.show-md
	display block
@media (max-width: $sm)
	.show-sm
		display block
	.show-md
		display none
		color #FFFFFF

// General Styles
a
	text-decoration none
	display inline-block

.left
	float left
.right
	float right