section.article
	div.container
		div.col-md-7.post-section
			div.img.left
			div.post
				p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum 
				p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum 
				ul DOWNLOAD THIS RESOURCE AND LEARN...
					li henderit in voluptate velit esse cillum 
					li henderit in voluptate velit esse cillum 
					li henderit in voluptate velit esse cillum 
					li henderit in voluptate velit esse cillum 
					li henderit in voluptate velit esse cillum 
		div.col-md-5.form-section
			form
				h6 I WANT TO DOWNLOAD THIS!
				div.form-group
					label First Name*
					input(type="text", placeholder="First Name here...").col-md-12
				div.form-group
					label LAST Name*
					input(type="text", placeholder="Last Name here...").col-md-12
				div.form-group
					label Email ADDRESS*
					input(type="text", placeholder="Email Address here...").col-md-12
				div.form-group
					label FULL NONPROFIT ORGANIZATION NAME*
					input(type="text", placeholder="Organization Name here...").col-md-12
				div.form-group
					label PHONE NUMBER*
					input(type="text", placeholder="Phone Number here...").col-md-12
				div.form-group
					label Your Title*
					input(type="text", placeholder="Your Title here...").col-md-12
				div.check-group
					input(type="checkbox")
					p I’m looking for a better fundraising and donor management solution.
				input(type="submit", value="Download Now").submit